.border {
  border: 1px solid black;
  box-sizing: border-box;
}
.login_layout {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login_layout_top {
  height: 30%;
}
.login_layout_bottom {
  height: 70%;
}
.login_layout_center {
  width: 80%;
  max-width: 768px;
  height: 100%;
}
.login_logo {
  width: 120px;
  height: 150px;
  object-fit: contain;
}
.login_input {
  width: 100%;
  max-width: 292px;
  height: 43px;
  border: 1px solid #d1d3d4;
  z-index: 3;
}

.login_btn {
  width: 100%;
  max-width: 292px;
  height: 43px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_input {
  border: 0;
  height: 28px;
  background-color: #ffffff;
  border-bottom: 1px solid #959899;
  padding-bottom: 5px;
}
