.main_service_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.service_page {
  width: 100%;
  max-width: 768px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.service_page_top {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service_page_top_item {
  width: 45%;
  height: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_page_middle {
  width: 100%;
  height: 69%;
  overflow-y: scroll;
  scrollbar-width: "none";
  position: relative;
  border-top: 1px solid #e8e2e2;
  border-bottom: 1px solid #e8e2e2;
}

.service_page_middle_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.service_page_middle_none {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_page_bottom {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.service_page_modal_back {
  position: fixed;
  width: 100%;
  max-width: 768px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_page_modal_front {
  width: 90%;
  max-width: 400px;
  height: 70%;
  border: 3px solid #aaaaaa;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
  animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader_black {
  background-color: #333;
}

.loader_1 {
  animation-name: loader1;
}
@keyframes loader1 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
